@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    font-family: 'Ubuntu', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    min-height: 200vh;
    overflow-x: hidden;

    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center 0px;
    animation: movimientoFondo linear both;
    animation-timeline: scroll();
}

@keyframes movimientoFondo {
    from {
        background-position: center 0%;
    }
    to {
        background-position: center 20%;
    }
}

.logo {
    width: 15%;
}

nav {
    background-color: #fed700;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px
}

nav ul {
    margin-left: auto;
    display: flex;
    list-style: none;
    padding-right: 50px;
    gap: 60px;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
    padding: 10px;
    color: #fe218b;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    transition: 0.3s ease;
}

nav ul li a:hover {
    color: #21b0fe;
}

.premium {
    background: linear-gradient(
            to right,
            #BF953F 0%, #FCF6BA 25%, #B38728 50%,
            #fe218b 50%, #fe218b 100%
    );
    background-size: 200% 100%;
    background-position: 100% 0;

    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    transition: background-position 0.3s ease-in-out, filter 0.3s ease-in-out;
    filter: drop-shadow(0 0 0px transparent);
}

.premium:hover {
    background-position: 0 0;
    filter: drop-shadow(0 0 8px rgba(252, 246, 186, 0.8));
}

.principal {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
    padding: 30px;
    max-width: 2000px;
    margin: 0 auto;
}

.marcas {
    border: 2px solid #fed700;
    border-radius: 12px;
    background: linear-gradient(135deg, rgba(254, 33, 139, 0.15) 0%, rgba(33, 176, 254, 0.15) 100%);
    color: #fe218b;
    padding: 20px;
    text-align: center;
    transition: all 0.1s ease;
}

.marcas:hover {
    border-color: #fe218b;
    transform: translateY(-6px);
    opacity: 75%;
    box-shadow: 0 15px 50px rgba(230, 57, 70, 0.2);
}

.marcas img {
    height: 150px;
    margin-top: 10px;
}