@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    color: white;
    background-color: #0d0e15;
    display: flex;
    flex-direction: column;
}

.contenedor-inicio {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 20px;
}

.main-flex {
    flex: 1;
    min-height: 80vh;
}

/* Falta animacion color bordes */
.tarjeta-form {
    background-color: rgba(255, 255, 255, 0.07);
    backdrop-filter: blur(80px);
    -webkit-backdrop-filter: blur(80px);
    border-radius: 24px;
    padding: 30px 40px;
    width: 100%;
    max-width: 650px;
    border: 3px solid rgba(255, 255, 255, 0.15);
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.3),
        inset 0 1px 2px rgba(255, 255, 255, 0.2);
}

/* Intentar hacer animacion bordes verdes al loguearse correctamente */
.tarjeta-login {
    background: rgba(255, 255, 255, 0.07);
    backdrop-filter: blur(80px);
    -webkit-backdrop-filter: blur(80px);
    border-radius: 24px;
    padding: 40px;
    width: 100%;
    max-width: 450px;
    border: 3px solid rgba(255, 255, 255, 0.15);
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.oculto {
    display: none !important;
}

.texto-centrado {
    text-align: center;
}

h1 {
    color: white;
    font-size: 42px;
    margin-bottom: 5px;
    text-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.error-txt {
    color: #ff4757;
    margin-bottom: 30px;
    font-size: 1rem;
}

p {
    color: rgba(255, 255, 255, 0.6);
    font-size: 18px;
    margin-bottom: 30px;
}

.grupo {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.grupo-izquierda {
    text-align: left;
}

.grupo label {
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.8);
    font-weight: 400;
    padding-left: 5px;
}

.grupo input {
    width: 100%;
    padding: 14px 16px;
    background: rgba(255, 255, 255, 0.05);
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 50px;
    color: white;
    font-size: 1.2rem;
    outline: none;
    transition: all 0.3s ease;
}

.grupo input:focus {
    background: rgba(255, 255, 255, 0.1);
    border-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
}

.btn-enviar {
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    background: rgba(255, 255, 255, 0.9);
    color: black;
    border: none;
    border-radius: 50px;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease, transform 0.3s ease-in-out;
}

.btn-enviar:hover {
    background: rgba(255, 255, 255, 0.3);
    color: #222222;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}

.btn-logout {
    background: rgba(255, 71, 87, 0.8);
    color: white;
    border: none;
    border-radius: 50px;
    padding: 10px 25px;
    font-weight: 500;
    cursor: pointer;
    margin-top: 20px;
    transition: all 0.3s ease;
}

.btn-logout:hover {
    background: #ff4757;
    transform: scale(1.05);
}

.menu-nav {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    align-items: center;
}

a {
    display: inline-block;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 0.5px;

    border: 3px solid rgba(255, 255, 255, 0.15);
    border-radius: 20px;
    background: linear-gradient(135deg, rgba(254, 33, 139, 0.2) 0%, rgba(33, 176, 254, 0.2) 100%);
    backdrop-filter: blur(50px);
    color: rgba(255, 255, 255, 0.85);

    width: 280px;
    padding: 18px 0;
    text-align: center;

    transition: transform 0.2s ease-in-out, border-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
}

a:hover {
    transform: scale(1.05);
    border-color: rgba(255, 255, 255, 0.4);
    color: white;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
}

.premium {
    background: linear-gradient(135deg, rgba(33, 176, 254, 0.25) 0%, rgba(254, 33, 139, 0.1) 100%);
}

.premium:hover {
    border-color: #21b0fe;
}

footer {
    width: 100%;
    padding: 0 20px 25px 20px;
    background: transparent;
    margin-top: auto;
    display: flex;
    justify-content: center;
}

.footer-cont {
    border: 3px solid rgba(255, 255, 255, 0.15);
    border-radius: 60px;
    background: linear-gradient(135deg, rgba(254, 33, 139, 0.2) 0%, rgba(33, 176, 254, 0.2) 100%);
    backdrop-filter: blur(50px);
    padding: 20px 40px;
    text-align: center;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.footer-cont p {
    color: navajowhite;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.5px;
    margin: 0;
    white-space: nowrap;
}